In [2]:
# python <-> maridb (계열 mysql)
from tqdm import tqdm
import pymysql
# 데이터베이스의 대량작업, 객체 연결등등 고차원 작업 진행 지원 모듈
from sqlalchemy import create_engine
# Dataframe을 sql에 전송하는 기능
import pandas.io.sql as pSql
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib 
# 필요한 모듈 가져오기 카카오 api 쓰기위해
import urllib.request
import os
import sys
import json

In [3]:
# 1. 연결 문자열 생성
id      = 'root'
pwd     = '12341234'
domain  = 'localhost'
port    = '3306'
database= 'test'
db_url  = f'mysql+pymysql://{id}:{pwd}@{domain}:{port}/{database}'
db_url

'mysql+pymysql://root:12341234@localhost:3306/test'

In [4]:
year1=list(map(lambda x: 201701+x, range(12))) 
year2=list(map(lambda x: 201801+x, range(12)))

year3=list(map(lambda x: 201901+x, range(12))) 
year4=list(map(lambda x: 202001+x, range(6))) 
year5= year1+year2+year3+year4
year5

[201701,
 201702,
 201703,
 201704,
 201705,
 201706,
 201707,
 201708,
 201709,
 201710,
 201711,
 201712,
 201801,
 201802,
 201803,
 201804,
 201805,
 201806,
 201807,
 201808,
 201809,
 201810,
 201811,
 201812,
 201901,
 201902,
 201903,
 201904,
 201905,
 201906,
 201907,
 201908,
 201909,
 201910,
 201911,
 201912,
 202001,
 202002,
 202003,
 202004,
 202005,
 202006]

In [ ]:
for i,name in tqdm(enumerate(year5)) :
        print(name)
        str = f"SELECT 기준일ID,행정동코드,avg(총생활인구수) total,avg(남자0세부터9세생활인구수+여자0세부터9세생활인구수)/avg(총생활인구수) ONE1,avg(남자10세부터14세생활인구수+여자10세부터14세생활인구수+남자15세부터19세생활인구수+여자15세부터19세생활인구수)/avg(총생활인구수) ten,avg(남자20세부터24세생활인구수+여자20세부터24세생활인구수+남자25세부터29세생활인구수+여자25세부터29세생활인구수)/avg(총생활인구수) two,avg(남자30세부터34세생활인구수+여자30세부터34세생활인구수+남자35세부터39세생활인구수+여자35세부터39세생활인구수)/avg(총생활인구수) three,avg(남자40세부터44세생활인구수+여자40세부터44세생활인구수+남자45세부터49세생활인구수+여자45세부터49세생활인구수)/avg(총생활인구수) four,avg(남자50세부터54세생활인구수+여자50세부터54세생활인구수+남자55세부터59세생활인구수+여자55세부터59세생활인구수)/avg(총생활인구수) five,avg(남자60세부터64세생활인구수+여자60세부터64세생활인구수+남자65세부터69세생활인구수+여자65세부터69세생활인구수)/avg(총생활인구수) six,avg(남자70세이상생활인구수+여자70세이상생활인구수)/AVG(총생활인구수) seven FROM local_people_dong WHERE 기준일ID LIKE '{name}%%' GROUP BY 행정동코드;"
        engine = create_engine( db_url, encoding='utf8' )
    # 3. 실제 연결
        conn = engine.connect()
#         print(name)
        globals()[f'str{name}']=pd.read_sql_query(con=conn,sql=str)
        # 5. I/O를 수행하면 반드시 닫는다!!
        conn.close()
    

#2020-07-26 19:09 분 시작 
#2020-07-26 19:37 분 끝